html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: white;
  margin-top: 0;
}

h1 {
  font-weight: 700;
  font-size: 25px;

  color: #0c1920;
  line-height: 300%;
  margin: 20px;
}
nav h1 span {
  color: #f9bdac;
}
h1:hover {
  cursor: pointer;
  font-weight: 900;
}
h1,
h2,
h3 {
  font-weight: 400;
  margin: 10px;
}

li {
  list-style: disc;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
  padding: 10pxpx;
  position: sticky;
}
nav ul li {
  list-style-type: none;
}
nav ul a {
  text-decoration: none;
  color: inherit;
}
nav ul li {
  text-transform: capitalize;
  font-size: 16px;
  justify-content: space-between;
  margin-left: 20px;
}
nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #1d434d;
  font-weight: 900;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 1;
  background-color: white;
  margin: 0;
  padding: 0px 0% 0px 0%;
  top: 0;
  height: 10%;
  width: 100%;
}
header {
  display: flex;
  width: 100%;
  padding-top: 100px;
  justify-content: center;
}
header img {
  filter: brightness(80%);
  cursor: pointer;
  transition: filter 0.5s;
  width: 100%;
  border-radius: 4px;
}

header img:hover {
  filter: brightness(100%);
}
h2 {
  font-size: 20px;
  font-weight: 900;
}
section {
  padding: 20px;
}

ul li {
  list-style-type: none;
}

.auteur {
  margin-left: 1rem;

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 450px;
  margin-left: 1rem;
  flex: 1 0 250px;
  margin-left: 1rem;
  scroll-snap-align: start;
}
.auteur img {
  width: 100%;
}
.card-title span {
  font-weight: bolder;
  color: black;
}
.auteurs {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #9a98a5;
  border-radius: 3px;
}

.card img {
  filter: brightness(80%);
  cursor: pointer;
  transition: filter 0.5s;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card img:hover {
  filter: brightness(100%);
}
.card {
  box-shadow: 1px 1px 12px #555;
  border-radius: 10px;
  padding-bottom: 10px;
}
.card:hover {
  box-shadow: 0px 1px 20px #555;
}
#savoir-plus h2 {
  text-align: center;
  padding-bottom: 30px;
}
#savoir-plus ul li a {
  text-decoration: none;
  color: inherit;
}
#savoir-plus ul li a:hover {
  font-weight: 900;
  cursor: pointer;
  color: #f9bdac;
}
#savoir-plus ul {
  display: flex;
  margin-left: 25px;
  vertical-align: middle;
  justify-content: space-between;

  align-items: center;
}
button {
  color: black;
  background-color: #f9bdac;
  border: 1px solid #f9bdac;
  border-radius: 65px;
  cursor: pointer;
  transition: all 0.5s;
  padding: 10px 65px;
}
button:hover {
  background-color: white;
  color: black;
}
#synopsis h2 {
  font-weight: 900;
  text-align: center;
  padding-bottom: 30px;
}
#distribution h2 {
  text-align: center;

  padding-bottom: 30px;
}

@media screen and (max-width: 1336px) {
  nav {
    flex-direction: column;
    height: 20%;
    float: left;
  }
  h1 {
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 23px;
    line-height: 0;
    margin-left: 20px;
  }
  /*nav ul {
    text-align: center;
    margin-left: 0px;
    padding: 0;
    margin-top: 0px;
  }*/
  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    padding: 22px;
  }

  nav ul li {
    text-transform: capitalize;
    font-size: 15px;
    justify-content: space-between;
    margin-left: 20px;
  }
  #savoir-plus {
    justify-content: center;
    align-content: center;
    vertical-align: middle;
  }
  #savoir-plus ul {
    flex-direction: column;
    align-content: center;
    vertical-align: middle;

    width: 100%;
  }
  #savoir-plus ul li {
    padding-top: 20px;
    margin-bottom: 0px;
    font-size: 15px;
    align-items: center;
    vertical-align: middle;
  }
  button {
    height: 48px;
    width: 250px;
  }
}
@media screen and (max-width: 1200px) {
}
/*@media screen and (max-width: 630px) {
  nav {
    flex-direction: column;
    height: 20%;
    float: left;
  }
  nav ul {
    flex-direction: initial;
    text-align: center;
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
  }
  li {
    list-style: disc;
    margin-left: 50px;
  }
  h1 {
    padding-bottom: 0;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 0px;
  }
  #savoir-plus ul {
    flex-direction: column;
    align-content: center;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 15%;
  }
  #savoir-plus ul li {
    padding-top: 20px;
    margin-bottom: 0px;
    font-size: 10px;
    align-items: center;
    vertical-align: middle;
  }
  button {
    height: 48px;
    width: 250px;
  }
  nav ul li {
    font-size: 15px;
    vertical-align: middle;
    margin-left: 15px;
  }
}*/
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    height: 20%;
    float: left;
  }
  nav ul {
    flex-direction: initial;
    text-align: center;
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
  }
  h1 {
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 0px;
  }
  nav ul li {
    font-size: 12px;
    margin-left: 20px;
  }
  #savoir-plus {
    justify-content: center;
  }
  #savoir-plus ul {
    flex-direction: column;
    align-content: center;
    vertical-align: middle;
    margin-left: 0px;
  }
  #savoir-plus ul li {
    padding-top: 20px;
    margin-bottom: 0px;
    font-size: 10px;
    align-items: center;
    vertical-align: middle;
  }
  button {
    height: 48px;
    width: 250px;
  }
  nav ul li {
    font-size: 15px;
    vertical-align: middle;
    margin-left: 15px;
  }
}
@media screen and (max-width: 321px) {
  nav {
    flex-direction: column;
    height: 20%;
    float: left;
  }
  nav ul {
    flex-direction: initial;
    text-align: center;
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
  }
  h1 {
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 0px;
  }
  nav ul li {
    font-size: 10px;
    margin-left: 20px;
  }
}
/*@media screen and (max-width: 1336) {
  nav {
    flex-direction: column;
    height: 20%;
    float: left;
  }
  h1 {
    padding-bottom: 0;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 0;
    margin-left: 20px;
  }
  nav ul {
    flex-direction: initial;
    text-align: center;
    margin-left: 0px;
    padding: 0;
    margin-top: 0px;
  }
  nav ul li {
    font-size: 15px;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 50px;
  }
  #savoir-plus ul {
    flex-direction: column;
    align-content: center;
    vertical-align: middle;

    width: 100%;
  }
  #savoir-plus ul li {
    padding-top: 20px;
    margin-bottom: 0px;
    font-size: 10px;
    align-items: center;
    vertical-align: middle;
  }
}*/
